<div>
  <div><h1>Stupid Coaching</h1></div>
  <p>Ask your coach anything:</p>
    <form action="answer" data-turbo="false">
      <div class="d-flex">
        <input class="form-control" type="text" id="question" name="question">
        <input type="submit" class="btn btn-primary" value="Ask!">
    </div>
  </form>
</div>
