<div>
  <div><h1>Stupid Coaching</h1></div>
  <div>
    <form class="row row-cols-lg-auto g-3 align-items-center" action="answer" data-turbo="false">
    <label for="question">Ask your coach anything :</label>
    <input class="form-control" type="text" id="question" name="question">
    <input type="submit" class="btn btn-primary" value="Ask!">
    </form>
  </div>
</div>
