/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */

 form {
  width: 500px;
  margin: 20px;
 }

 div {
  margin: 20px;
 }

  #Question {
  border-left: 4px solid gray;
 }


 #Reponse {
  background-color: rgb(253, 255, 221);
  border-left: 4px solid gray;
 }

 p {
  margin-left: 20px;
 }
